@model Fundgrid.MVC.Models.GridModel

@{
    ViewBag.Title = "Archive";
}

<h1 style="background-color:#FFCC00;">Archive</h1>
<p><font size="5">Project Name : @Html.DisplayName(@Model.ProjectName)</font></p>
<p><font size="3">Description : @Html.DisplayName(@Model.ProjectDescription)</font></p>
<p>
    
</p>
<table>
    <tr>
        <th width="200" align="left">
            Name
        </th>
        <th width="200" align="left">
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Grids) 
{
    <tr>
        @*<td>
            Project
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.ActionLink("Show", "ArchiveProject", new { id=item.Id })

        </td>
    </tr>
}

</table>
@section scripts {
<script>

    var viewModel = @(Html.Raw(Json.Encode(Model)))

	    $(document).ready(function ()
	    {
	        busyViewModel.IsBusy(false);
	    });
	</script>
}