@model IEnumerable<Fundgrid.MVC.Models.ProjectModel>

@{
    ViewBag.Title = "Donate";
}

<h2>Donate</h2>

<p>
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@*<table>
    <tr>
        <th width="200" align="left">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="200" align="left">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Donate", "DonateDetails", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

